.side-bar1 {
    background-color: #218C74;
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    transition: left 1s;
    z-index: 100000;
    text-align: right;
    padding-right: 0.1em;
}


/* 나머지 CSS 스타일은 이전과 동일하게 유지합니다 */
.side-bar1 > .icon > div {
    text-align: right;
    padding-top: 10px;
    color: white;
}


  :root,
[data-bs-theme=light] {
  --bs-primary: #218C74;
  --bs-primary-rgb: 33, 140, 116;
  --bs-primary-text-emphasis: #165849;
  --bs-primary-bg-subtle: #A8EADB;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #218C74;
    --bs-btn-border-color: #218C74;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #165849;
    --bs-btn-hover-border-color: #165849;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #165849;
    --bs-btn-active-border-color: #165849;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #218C74;
    --bs-btn-disabled-border-color: #218C74;
  }

/* "::after" 가상 요소를 숨김 */
.dropdown-toggle::after {
    content: none;
    display: none;
}


/* 반응형 스타일링 */
/* @media (max-width: 1200px) {
    .side-bar {
        width: 25%;
    }

    .main-content.container-fluid {
        margin-left: 5%;
    }

    .side-bar:hover + .main-content {
        margin-left: 0;
    }

} */


